<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="pick_robot">
   <!-- robot name parameter -->
   <xacro:arg name="name" default="ur"/>
   <!-- import main macro -->
   <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

   <!-- possible 'ur_type' values: ur3, ur3e, ur5, ur5e, ur10, ur10e, ur16e, ur20 -->
   <!-- the default value should raise an error in case this was called without defining the type -->
   <xacro:arg name="ur_type" default="ur5e"/>

   <!-- parameters -->
   <xacro:arg name="tf_prefix" default="" />
   <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
   <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
   <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
   <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
   <xacro:arg name="transmission_hw_interface" default=""/>
   <xacro:arg name="safety_limits" default="false"/>
   <xacro:arg name="safety_pos_margin" default="0.15"/>
   <xacro:arg name="safety_k_position" default="20"/>

   <!--When using gazebo simulations absolute paths are necessary.-->
   <xacro:arg name="force_abs_paths" default="false" />

   <!-- create link fixed to the "world" -->
   <link name="world" />

   <!-- arm -->
   <xacro:ur_robot
     name="$(arg name)"
     tf_prefix="$(arg tf_prefix)"
     parent="robot_base_link"
     joint_limits_parameters_file="$(arg joint_limit_params)"
     kinematics_parameters_file="$(arg kinematics_params)"
     physical_parameters_file="$(arg physical_params)"
     visual_parameters_file="$(arg visual_params)"
     safety_limits="$(arg safety_limits)"
     safety_pos_margin="$(arg safety_pos_margin)"
     safety_k_position="$(arg safety_k_position)"

     >
     <origin xyz="0 0 0" rpy="0 0 0" />          <!-- position robot in the world -->
   </xacro:ur_robot>


  <material name="LightGrey">
      <color rgba="0.7 0.7 0.7 1.0" />
  </material>

  <material name="blue">
      <color rgba="0 0 0.8 1" />
  </material>

  <material name="red">
      <color rgba="0.8 0 0 1" />
  </material>


  <xacro:macro name="cylinder_inertia" params="m r h">
        <inertia  ixx="${m*(3*r*r+h*h)/12}" ixy = "0" ixz = "0"
                    iyy="${m*(3*r*r+h*h)/12}" iyz = "0"
                    izz="${m*r*r/2}" />
  </xacro:macro>

  <xacro:macro name="box_inertia" params="m x y z">
          <inertia  ixx="${m*(y*y+z*z)/12}" ixy = "0" ixz = "0"
                    iyy="${m*(x*x+z*z)/12}" iyz = "0"
                    izz="${m*(x*x+z*z)/12}" />
  </xacro:macro>

  <xacro:macro name="sphere_inertia" params="m r">
          <inertia  ixx="${2*m*r*r/5}" ixy = "0" ixz = "0"
                    iyy="${2*m*r*r/5}" iyz = "0"
                    izz="${2*m*r*r/5}" />
  </xacro:macro>


  <link name="baseplate_link">
    <visual>
      <origin xyz="0 0 0.0" />
      <geometry>
        <box size="0.7 1.1 0.03" />
      </geometry>
      <material name="LightGrey"/>
    </visual>
    <inertial>
      <mass value="10"/>
      <xacro:box_inertia m="10" x="1.1" y="0.7" z="0.03"/>
    </inertial>
  </link>

  <joint name="baseplate_joint" type="fixed">
    <origin xyz="0 0 0" />
    <parent link="world" />
    <child link="baseplate_link" />
  </joint>

  <link name="mountingplate_link">
    <visual>
      <origin xyz="0 0 0.0" />
      <geometry>
        <box size="0.3 0.3 0.012" />
      </geometry>
      <material name="red"/>
    </visual>
    <inertial>
      <mass value="1"/>
      <xacro:box_inertia m="1" x="0.3" y="0.3" z="0.012"/>
    </inertial>
  </link>

  <joint name="mountingplate_joint" type="fixed">
    <origin xyz="-0.2 0.0 0.021" />
    <parent link="baseplate_link" />
    <child link="mountingplate_link" />
  </joint>

   <link name="robot_base_link" />

  <!-- robot to mounting_plate. -->
  <joint name="mountingplate_link" type="fixed">
    <parent link="mountingplate_link" />
    <child link="robot_base_link" />
    <origin xyz="0.0 0.0 0.01" rpy="0.0 0.0 ${pi}"/>
  </joint>

  <link name= "pick_tcp" />



  <!-- bracket/beugel -->
  <xacro:include filename="beugel/urdf/BeugelArrow.urdf.xacro" />
  <xacro:beugel_arrow/>

  <joint name="pick_tcp_to_pick_tcp" type="fixed">
    <parent link="arrow_tcp" />
    <child link="pick_tcp" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>


  <!--
  <xacro:include filename="beugel/urdf/Beugel.urdf.xacro" />
  <xacro:beugel/>
  -->

  <!-- tool0 to beugel_base_position -->
  <!-- cahnge these valuse to place the beugel on the right position -->
  <joint name="beugel_base_position_to_tool0" type="fixed">
    <parent link="tool0" />
    <child link="beugel_link" />
    <origin xyz="0.0 0.00 0.0" rpy="0 0 0"/> 
  </joint>
  
      <xacro:arg name="camera_name"   default="oak" />
    <xacro:arg name="camera_model"  default="OAK-D" />
    <xacro:arg name="base_frame"    default="oak-d_frame" />
    <xacro:arg name="parent_frame"  default="beugel_camera" />
    <xacro:arg name="cam_pos_x"     default="0.0" />
    <xacro:arg name="cam_pos_y"     default="0.0" />
    <xacro:arg name="cam_pos_z"     default="0.0" />
    <xacro:arg name="cam_roll"      default="0.0" />
    <xacro:arg name="cam_pitch"     default="0.0" />
    <xacro:arg name="cam_yaw"       default="0.0" />

    <xacro:include filename="$(find depthai_descriptions)/urdf/include/depthai_macro.urdf.xacro"/>


    <xacro:depthai_camera camera_name = "$(arg camera_name)" parent = "$(arg parent_frame)" camera_model = "$(arg camera_model)" base_frame = "$(arg base_frame)" cam_pos_x = "$(arg cam_pos_x)" cam_pos_y = "$(arg cam_pos_y)" cam_pos_z = "$(arg cam_pos_z)" cam_roll = "$(arg cam_roll)" cam_pitch = "$(arg cam_pitch)" cam_yaw = "$(arg cam_yaw)"/>
    
  
<!--
    <xacro:include filename="$(find depthai_descriptions)/urdf/include/depthai_macro.urdf.xacro"/>

    <xacro:depthai_camera camera_name = "oak" parent = "beugel_camera" camera_model = "OAD-D" base_frame = "oak-d_frame" cam_pos_x = "0" cam_pos_y = "0" cam_pos_z = "0" cam_roll = "0" cam_pitch = "0" cam_yaw = "0"/>
--> 

<!--

  <xacro:include filename="epick/urdf/epick_single_suction_cup.xacro" />
-->
<!--
  <xacro:include filename="$(find epick_description)/urdf/epick_single_suction_cup.xacro"/>

  <xacro:epick_single_suction_cup parent="beugel_tool" use_fake_hardware="true"/>
-->

 
</robot>
